.yt-container {
    position: fixed;
    transition: left 0.5s;
    display: grid;
}
.youtube-search-result {
    overflow: scroll;
    border: 1px dashed #EAEAEA;
}

.menu-div {
    width: fit-content;
    height: fit-content;
    border: 1px dashed #5D6644;
}

.menu-text {
    font-size: 20px;
    width: 20px;
    padding: 5px;
    display: none;
}

.menu-text.active {
    display: block !important;
}

.table-title {
    font-size: 20px;
    color: black;
}

/*table*/
.yt-table tbody tr:nth-child(even) {
    background-color: #F4FFD6;
}

.yt-table tbody tr:nth-child(odd) {
    background-color: #D1E69A;
}
.yt-table tfoot td {
    font-size: 15px;
    padding: 5px 5px 5px 0;
}

.yt-table tbody td {
    padding: 5px;
}
.yt-image, .yt-iframe, .play-yt, .stop-yt, .material-symbols-outlined {
    display: none !important;
}
.material-symbols-outlined.active {
    display: block !important;
}
.yt-image.active {
    display: block !important;
}
.yt-iframe.active {
    display: block !important;
}
.play-yt:hover, .stop-yt:hover {
    cursor: pointer;
}
.play-yt.active {
    display: block !important;
}
.stop-yt.active {
    display: block !important;
}

/*yotube info*/
.yt-info p {
    padding-top: 5px;
}

.yt-info p a {
    color: blue;
}
